.custom-input {
  padding: 8px;
  border: 1px solid #fd9904;
  border-radius: 4px;
  font-size: 14px;
  width: 200px;
  transition: border-color 0.3s;
}

.custom-input:focus {
  border-color: #4d6668;
}
